{% extends 'base.html' %}

{% load custom_markdown %}

{% block title %}My Wiki{% endblock %}

{% block header %}
    <h1><i class="fa fa-list"></i> Index</h1>
{% endblock %}

{% block content %}
    {% for article in article_list %}
        {% if forloop.first %}<div class="row">{% endif %}
        <div class="col-md-4">
            <h2><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h2>
            <p class="article-snippet">{{ article.current_revision.text | custom_markdown | striptags | truncatewords:20 }}</p>
            <p class="text-muted small">Last edited by <a href="/user/{{ article.current_revision.user.username }}">{{ article.current_revision.user.username }}</a> at {{ article.current_revision.timestamp }}</p>
        </div>
        {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
        {% if forloop.last %}</div>{% endif %}
    {% empty %}
    <p>There are no articles</p>
    {% endfor %}
{% endblock %}