{% extends 'base.html' %}

{% block title %}History of {{ article.title }} - My Wiki{% endblock %}

{% block header %}
    <div class="page-actions pull-right">
        <a href="/{{ article.slug }}/" class="btn btn-default">Back to article</a>
    </div>
    <h1>{{ article.title }}</h1>
    <p class="subhead">history</p>
{% endblock %}

{% block content %}
    {% if revision_list %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Timestamp</th>
                <th scope="col">User</th>
                <th scope="col">Comment</th>
            </tr>
        </thead>
        <tbody>
            {% for revision in revision_list %}
            <tr>
                <td><a href="{{ revision.get_absolute_url }}">{{ revision.timestamp }}</a></td>
                <td>{{ revision.user }}</td>
                <td>{{ revision.comment }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No changes to display</p>
    {% endif %}
{% endblock %}