{% extends 'base.html' %}

{% load custom_markdown %}

{% block title %}{{ article.title}} - My Wiki{% endblock %}

{% block header %}
    <h1>{{ article.title }}</h1>
    <p class="subhead">edited by <a href="/user/{{ article.current_revision.user.username }}">{{ article.current_revision.user.username }}</a> at {{ article.current_revision.timestamp }}</p>
    <ul>
        <li><a href="/{{ article.slug }}/edit/"><i class="far fa-pencil"></i> Edit page</a></li>
        <li><a href="/{{ article.slug }}/history/"><i class="far fa-clock"></i> Page history</a></li>
        <li><a title="Permanent link to this revision" href="{{ article.current_revision.get_absolute_url }}"><i class="far fa-link"></i> Permalink</a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="article-content">{{ article.current_revision.text|add_toc|custom_markdown }}</div>
{% endblock %}