{% extends 'base.html' %}

{% block title %}My Wiki{% endblock %}

{% block header %}
    <h1><i class="fa fa-list"></i> Index</h1>
{% endblock %}

{% block content %}
    {% if article_list %}
    <table class="table table-striped table-sortable">
        <thead>
            <tr>
                <th scope="col" data-sort="string"><i class="fa fa-file-text"></i> Article</th>
                <th scope="col" data-sort="string"><i class="fa fa-clock-o"></i> Last edited</th>
            </tr>
        </thead>
        <tbody>
            {% for article in article_list %}
            <tr>
                <td><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></td>
                <td data-sort-value="{{ article.current_revision.timestamp|date:"c" }}">{{ article.current_revision.timestamp }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>There are no articles</p>
    {% endif %}
{% endblock %}