{% extends 'base.html' %}

{% block title %}Editing {{ article.title}} - My Wiki{% endblock %}

{% block header %}
    <h1><i class="fa fa-pencil"></i> {{ article.title }}</h1>
    <p class="subhead"><a href="/{{ article.slug }}/">« back to article</a></p>
{% endblock %}

{% block content %}
    <form action="" method="post" class="edit-form">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Save changes" title="Save changes" class="btn btn-primary">
        <a href="{{ article.get_absolute_url }}" class="btn btn-default">Cancel</a>
    </form>
{% endblock %}