{% extends 'base.html' %}
{% load bootstrap %}

{% block title %}Editing {{ article.title}} - My Wiki{% endblock %}

{% block header %}
    <h1><i class="fa fa-pencil"></i> {{ article.title }}</h1>
    <p class="subhead">
        {% if new_article %}
            Creating new page
        {% else %}
            <a href="/{{ article.slug }}/">« back to page</a>
        {% endif %}
    </p>
{% endblock %}

{% block content %}
    <form role="form" action="" method="post" class="edit-form">
        {% csrf_token %}
        {{ form | bootstrap}}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <a target="_blank" href="https://daringfireball.net/projects/markdown/basics" class="btn btn-link">Markdown help <i class="fa fa-external-link"></i></a>
            <a href="{{ article.get_absolute_url }}" class="btn btn-link">Cancel editing</a>
        </div>
    </form>
{% endblock %}