{% extends 'base.html' %}

{% block title %}Recent changes - My Wiki{% endblock %}

{% block header %}
    <h1>Recent changes</h1>
{% endblock %}

{% block content %}
    {% if revision_list %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"><i class="fa fa-clock-o"></i> Timestamp</th>
                <th scope="col"><i class="fa fa-file-text"></i> Article</th>
                <th scope="col"><i class="fa fa-user"></i> User</th>
                <th scope="col"><i class="fa fa-comment"></i> Comment</th>
            </tr>
        </thead>
        <tbody>
            {% for revision in revision_list %}
            <tr>
                <td><a href="{{ revision.get_absolute_url }}">{{ revision.timestamp }}</a></td>
                <td><a href="{{ revision.article.get_absolute_url }}">{{ revision.article.title }}</a></td>
                <td>{{ revision.user }}</td>
                <td>{{ revision.comment }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No changes to display</p>
    {% endif %}
{% endblock %}