{% extends 'base.html' %}

{% load custom_markdown %}

{% block title %}Revision of "{{ revision.article.title}}" - My Wiki{% endblock %}

{% block navbar_tools %}
    <li><a href="/{{ revision.article.slug }}/"><i class="fa fa-arrow-up"></i> Current version</a></li>
    <li><a href="/{{ revision.article.slug }}/history/"><i class="fa fa-clock-o"></i> History</a></li>
{% endblock %}

{% block header %}
    <h1>Revision of "{{ revision.article.title }}"</h1>
    <p class="subhead">edited by <a href="/user/{{ revision.user.username }}">{{ revision.user.username }}</a> at {{ revision.timestamp }}</p>
{% endblock %}

{% block content %}
    <div class="middle-content">{{ revision.text|custom_markdown }}</div>
{% endblock %}