{% extends 'base.html' %}

{% load custom_markdown %}

{% block title %}Revision of "{{ revision.article.title}}" - My Wiki{% endblock %}

{% block header %}
    <div class="page-actions pull-right">
        <a href="/{{ revision.article.slug }}/" class="btn btn-default">Current version</a>
        <a href="/{{ revision.article.slug }}/history/" class="btn btn-default">History</a>
    </div>
    <h1>Revision of "{{ revision.article.title }}"</h1>
    <p class="subhead">edited by <a href="/user/{{ revision.user.username }}">{{ revision.user.username }}</a> at {{ revision.timestamp }}</p>
{% endblock %}

{% block content %}
    <div class="article-content">{{ revision.text|custom_markdown }}</div>
{% endblock %}