{% extends 'base.html' %}

{% block title %}User list - My Wiki{% endblock %}

{% block header %}
    <h1><i class="far fa-users"></i> User list</h1>
{% endblock %}

{% block content %}
    {% if user_list %}
    <table class="table table-sortable">
        <thead>
            <tr>
                <th scope="col" data-sort="string" class="table-header-user"><i class="far fa-user"></i> User</i></th>
                <th scope="col" data-sort="string" class="table-header-time"><i class="far fa-clock"></i> Joined</i></th>
                <th scope="col" data-sort="string" class="table-header-groups">Groups</i></th>
            </tr>
        </thead>
        <tbody>
            {% for user in user_list %}
            <tr>
                <td><a href="/user/{{ user.username }}">{{ user.username }}</a></td>
                <td data-sort-value="{{ user.date_joined|date:"c" }}">{{ user.date_joined }}</td>
                <td>
                    {% include 'wiki/snippets/user_groups.html' %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'wiki/snippets/pagination.html' %}
    {% else %}
    <p>There are no users.</p>
    {% endif %}
{% endblock %}