{% extends 'base.html' %}

{% block title %}{{ user }} - My Wiki{% endblock %}

{% block header %}
    <h1><i class="fa fa-user"></i> {{ user }}</h1>
    <p class="subhead">joined {{ user.date_joined }}</p>
    <div class="user-groups">
        {% include 'wiki/snippets/user_groups.html' %}
    </div>
{% endblock %}

{% block content %}
    {% if revision_list %}
    <h2>{{ revision_list|length }} changes</h2>
    <table class="table table-striped table-user-changes">
        <thead>
            <tr>
                <th scope="col"><i class="fa fa-clock-o"></i> Timestamp</th>
                <th scope="col"><i class="fa fa-file-text"></i> Article</th>
                <th scope="col"><i class="fa fa-comment"></i> Comment</th>
                <th scope="col">Diff</th>
            </tr>
        </thead>
        <tbody>
            {% for revision in revision_list %}
            <tr>
                <td><a href="{{ revision.get_absolute_url }}">{{ revision.timestamp }}</a></td>
                <td><a href="{{ revision.article.get_absolute_url }}">{{ revision.article.title }}</a></td>
                <td>{{ revision.comment }}</td>
                <td>{% if revision.parent %}<a href="/special/diff/{{ revision.parent.id }}/{{ revision.id }}/">diff</a></td>{% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No changes to display</p>
    {% endif %}
{% endblock %}