/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 70px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
}
/* End sticky footer styles */

footer {
    padding-top: 10px;
}

body {
    overflow-y: scroll; /* always show scroll bar */
    padding-top: 50px;
}

.search-icon {
    padding-right: 8px;
    color: white;
}
.navbar-form .search-field {
    width: 12em;
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@media (min-width: 992px) {
    .navbar-form .search-field:focus {
        width: 16em;
    }    
}

.content {
    padding-top: 1em;
}

.messages {
    margin: 0;
    padding: 0;
}
.alert {
    margin: 0;
}

.article-content {
    max-width: 42em;
    margin: 0 auto;
}

.edit-form #id_text {
    display: block;
    width: 100%;
    font-family: monospace;
    padding: 0.5em;
}
.edit-form #id_comment {
    width: 100%;
    padding: 0.5em;
}

.page-header {
    margin: 0;
    padding-top: 1em;
    border: none;
    text-align: center;
}
.page-header h1 i {
    opacity: 0.4;
}
.subhead {
    font-size: small;
}

.table thead i {
    opacity: 0.4;
    padding-right: 4px;
}

/* Sortable tables */
.table-sortable thead th {
    cursor: pointer;
}
.arrow {
    padding-left: 4px;
}




/* Fix so anchor links don't get covered by navbar */
*[id]:before { 
  display: block; 
  content: " "; 
  margin-top: -75px; 
  height: 75px; 
  visibility: hidden; 
}
