{% load staticfiles %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}My Wiki{% endblock %}</title>
        <!--<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,800">-->
        <link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}">
        <link rel="stylesheet" href="{% static "slickwiki-styles.css" %}">
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><i class="fa fa-home"></i> My Wiki</a>
                </div>

                <div class="collapse navbar-collapse">

                    <ul class="nav navbar-nav navbar-left">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Site tools <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/special/recentchanges/"><i class="fa fa-clock-o"></i> Recent changes</a></li>
                                <li><a href="/special/userlist/"><i class="fa fa-users"></i> User list</a></li>
                            </ul>
                        </li>
                        {% block navbar_tools %}{% endblock %}
                    </ul>

                    <form action="/special/search/" method="GET" class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <i class="fa fa-search search-icon hidden-xs"></i>
                            <input type="search" name="q" class="form-control search-field" placeholder="Search">
                        </div>
                    </form>

                </div>

            </div>
        </div>

        {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert alert-dismissible alert-{{ message.tags }}" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="page-header">
            <div class="container">
                {% block header %}{% endblock %}
            </div>
        </div>

        <div class="content">
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </div>

        <footer>
            <div class="container">
                <div class="center-block account-tools">
                    {% if user.is_authenticated %}
                    Logged in as {{ user.username }}. <a href="/special/logout/">Log out</a>
                    {% else %}
                    <ul class="list-inline">
                        <li><a href="/special/login/">Log in</a></li>
                        <li><a href="/special/createaccount/">Create account</a></li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </footer>
            

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{% static "jquery/jquery-1.11.1.min.js" %}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
        <script src="{% static "slickwiki-scripts.js" %}"></script>
        <script src="{% static "stupidtable.min.js" %}"></script>

    </body>
</html>