/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 70px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
}
/* End sticky footer styles */

footer {
    padding-top: 10px;
}

body {
    overflow-y: scroll; /* always show scroll bar */
    padding-top: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #ecf0f1;
    font-size: 16px;
}
a {
    color: #2980b9;
}

.navbar-default {
    background: #00305A;
    color: #ddd;
    border-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.07);
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: rgba(0, 0, 0, 0.2);
}

.navbar-default .navbar-nav>li>a {
    color: #ddd;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:hover {
    color: #eeeeff;
}

.navbar-default .navbar-brand {
    font-size: 1.2em;
    font-weight: bold;
    padding-right: 20px;
    color: white;
}

.navbar-brand,
.navbar-default .navbar-nav>li {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.search-icon {
    padding-right: 8px;
}
.navbar-form .search-field {
    width: 12em;
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@media (min-width: 992px) {
    .navbar-form .search-field:focus {
        width: 16em;
    }    
}

.content {
    padding-top: 2em;
}

.messages {
    margin: 0;
    padding: 0;
}
.alert {
    margin: 0;
}

.article-content {
    max-width: 42em;
}

.edit-form #id_text {
    display: block;
    width: 100%;
    font-family: monospace;
    padding: 0.5em;
}
.edit-form #id_comment {
    width: 100%;
    padding: 0.5em;
}

.page-header {
    margin: 0;
    padding: 20px 0;
    border: none;
    background: #00305A;
    color: white;
}
.page-header h1 i {
    opacity: 0.4;
}
.page-header .subhead a {
    color: white;
}
.page-header .subhead {
    opacity: 0.4;
}

.table thead i {
    opacity: 0.4;
    padding-right: 4px;
}

/* Sortable tables */
.table-sortable thead th {
    cursor: pointer;
}
.table-sortable thead th:hover {
    color: #2980b9;
}
.arrow {
    padding-left: 4px;
}
