/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 80px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
}
/* End sticky footer styles */



body {
    overflow-y: scroll; /* always show scroll bar */
    padding-top: 50px;
    font-family: 'Lato', sans-serif;
    background: #ecf0f1;
    font-size: 16px;
}
a {
    color: #2980b9;
}

.navbar-default {
    background: #bdc3c7;
    color: #333;
    border-color: #95a5a6;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
    color: #333;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:hover {
    color: #2980b9;
}

.search-icon {
    padding-right: 8px;
}
.search-field {
    border-radius: 16px;
}

.content {
    padding-top: 2em;
}

.messages {
    margin: 0;
    padding: 0;
}
.alert {
    margin: 0;
}

.article-content {
    max-width: 60em;
}

.edit-form #id_text {
    display: block;
    width: 100%;
    font-family: monospace;
}
.edit-form #id_comment {
    width: 100%;
}

.page-header {
    margin: 0;
    padding: 30px 0 20px;
    border: none;
    background: #34495e;
    color: white;
    min-height: 149px;
}
.page-header .subhead a {
    color: white;
}

.table thead i {
    color: #95a5a6;
    padding-right: 4px;
}

.simple-list {
    padding-left: 0;
    list-style: none;
}
.simple-list li {
    padding: 8px;
    border-top: 1px solid #ddd;
}